body {
  text-rendering: optimizeLegibility;
  font-family: 'Varela', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.pitch {
  background: url("problem.jpg") top center no-repeat;
  -webkit-background-size:cover; 
  -moz-background-size:cover; 
   background-size:cover;
  padding:120px 0 0;
  box-shadow: 0 0 10px #333;
  min-height:350px;
}

.pitch p, .pitch h1 {
  color:#fff;
  text-shadow:0 1px 6px #333;
}

.pitch h1 {
  font-size:4em;
  line-height:1.2em;
  margin:.5em 0;
}

.pitch p {
  font-size:2em;
  line-height:1.4em;
  opacity:.6;
}

.pitch a {
  margin-bottom:4em;
}

.screenshot {
  margin:-30px 0;
}
footer {
  border-top:1px solid rgba(0,0,0,.1);
  padding-top:4em;
}

.quiet {
  opacity:.5;
}

.like, .tweet, .plus {
  float:left;
}