body {
  text-rendering: optimizeLegibility;
  font-family: 'Varela', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.pitch {
  background: url("problem.jpg") top center no-repeat;
  -webkit-background-size:cover; 
  -moz-background-size:cover; 
   background-size:cover;
  padding:120px 0 0;
  box-shadow: 0 0 10px #333;
}

.pitch, .pitch h1 {
  color:#fff;
}

.pitch h1 {
  font-size:3em;
  line-height:1.12em;
  margin:.5em 0;
}

.screenshot {
  margin:-30px 0;
}
footer {
  border-top:1px solid rgba(0,0,0,.1);
  padding-top:2em;
}